/* ALERTS */
/* inspired by Twitter Bootstrap */

.popup {
  margin-bottom: 3px;
  border: 2px;
  border-color: #000; 
  border-radius: 3px;  
  bottom: 0px;
  float: none;
  width: 95%;
  color: black;
  background-color: #ffffff;
  opacity: .8;
  font-family: 'Arial',sans-serif;
  font: 13px Arial;
  padding: 8;
}

.popup-red {
  color: white;
  background-color: #DA4453;
}
.popup-green {
  color: white;
  background-color: #37BC9B;
}
.popup-blue {
  color: white;
  background-color: #4A89DC;
}
.popup-yellow {
  color: white;
  background-color: #F6BB42;
}
.popup-orange {
  color:white;
  background-color: #E9573F;
}

#afPopupContainer{
    position: absolute;
    right: 21px;
    bottom: 0px;
    z-index: 9999;
    position:fixed;
    width: 350;
    cursor: pointer;
}

#afPopupHead{
  position: relative;
  background: #404040;
  opacity: .9;
  height: 25;
  width: 350;
}

#afPopupMessage{
  font-weight: bold;
}

#afBTDiv{
  text-align:right;
}

.afPopupHeaderBT{
  opacity: .6;
  cursor: pointer;
  outline: none;
  border: 0 solid transparent;
  padding: 6; 
  margin: 0 auto;
  background: transparent;
  font-family: 'Arial',sans-serif;
  text-align: center;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  margin: 0em 0em 0em 0em;
  font: 13.3333px Arial;
  color: #FFFFFF;
  position: relative;
}

.afPopupHeaderbtClose{
  padding-right: 8;
}

 .afPopupHeaderbtMinimize{
  text-decoration: underline;
}

.afPopupHeaderBT:hover
{
  background-image:none !important;
  background-color:#fff !important;
  color: #000000;
}

#afPopupMessage{
  text-align: left;
  left: 5;
  position: absolute;
  font-family: 'Arial',sans-serif;
  font: 13.3333px Arial;
  color: #fff;
  padding: 5;
  opacity: .8;
  width: 83%
}

#afPopupBody{  
  display:block;
  overflow:hidden;
}

#afPopupBodyScroll{
  background-color: #DDD;
  padding: 5;
  max-height: 350;
  display:block;  
  border:0; 
  overflow:auto;
}
